<!DOCTYPE html>
<html>
<head>
	<title>GABARIT : fiche Catégorie</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset=utf-8>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h1>Produits de la catégorie Animaux</h1>
				<p>Depuis 1998, Animalis propose le meilleur à nos amis les bêtes en magasin...</p>
				<a class="btn btn-info" href="#">Page d'accueil</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="https://placeimg.com/200/200/animals" alt="">
					<div class="caption text-center">
						<h3>Chat</h3>
						<p>ceci est un chat...ceci est un chat</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="https://placeimg.com/200/201/animals" alt="">
					<div class="caption text-center">
						<h3>Chien</h3>
						<p>ceci est unc chien ...ceci est unc chien </p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
